<div class="row">
	<div class="col-md-12 center-text">
		<img src="<%= (coordinator.image.nil? ? "/uploads/coordinator-1.jpg" : '/uploads/'+coordinator.image) %>" width="103">
		<div class="tab-text-one tab-gap-top">Coordinator name: <%= coordinator.name %></div>
	</div>
</div>

<% if (coordinator != @coordinators.last) %>
<div class="tab-gap-hr"></div>
<% end %>