<% if @data.errors.any? %>
<div id="notif">
	<div class="row form-style">
		<div class="col-md-12 notification-style">
			<div class="notif-close">
				<a href="#" id="notif-close">x</a>
			</div>
			<div class="notification-one">
				Please correct the following errors:
				<ul>
					<% @data.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="tab-gap-hr"></div>
</div>
<% end %>

<% if flash[:notice].present? %>
<div id="notif">
	<div class="row title-page-gap-top">
		<div class="col-md-12 notificationsmallgreen-style">
			<div class="notif-close">
					<a href="#" id="notif-close">x</a>
				</div>
				<div class="notification-one">
					<%= flash[:notice] %>
				</div>
		</div>
	</div>
</div>
<% end %>